:root {
    --primary-brand-color: #df49a6;
    --secondary-brand-color: #ff7eee;
    --brand-gradient: linear-gradient(90deg,#df49a6,#ff7eee);
    --dark-not-black: #202020;
    --focus-border: #ff29ad;
    --status-green: #47b543;
    --text-link: #ff64f7;
    --off-white: #f0f0f0;
    --not-quite-black: #23232a;
    --not-quite-black-rgb: rgb(35,39,42);
    --beta-color: #fc7a23;
}

#bgVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height: 100vh;
    filter: brightness(50%);
    z-index: -100;
  }

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
    margin: 0;
    overflow-x: hidden;
    max-width: 100vw;
    color: white;
    -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   overflow-anchor: unset;
}

html {
    overflow-x: hidden;
}

.about a:hover, a:hover {
   text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 5vh;
    height: 10vh;
    background-color: #eeeeee00;
    position: fixed;
    width: 100%;
    z-index:99;
    top: 0;
    /* position: sticky; */
    transition: background-color 0.25s ease-in-out;
}

/* .nav-links li:last-child {
    background-color: var(--primary-brand-color);
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    padding: 5px;
    border-radius: 10px;
    border-color: var(--secondary-brand-color);
    border-style: solid;
    border-width: 2px;
} */

.header{
    padding: 14pc;
    font-size: 30px;
}


.logo {
    color: rgb(236, 236, 236);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: thistle; */
    width: 180px;
    transition: all 0.25s ease-in-out;
}

.logo img {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s, opacity 0.25s linear;
}

.nav-links {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 50%;
    z-index: 100;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--off-white);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 95vh;
        top: 7vh;
        background-color: #202020;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translate(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    nav {
        position: fixed;
    }

    iframe {
        display: none;
        visibility: hidden;
    }

    .homeMain h6 {
        display: none;
    }

    .homeMain {
        margin-top: 0 !important;
        padding: 10px;
    }

    .homeMain .hook {
        line-height: 100%;
    }

    ol, ol li {
        display: none !important;
    }

    .downloadCard {
        display: none;
        visibility: hidden;
    }

    .download {
        justify-content: center;
        height: max-content !important;
    }

    body {
        overflow-x: hidden;
    }

    .about {
        height: max-content !important;
    }

    .footerSection {
        display: none;
    }

    footer {
        height: max-content !important;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
from {
    opacity: 0;
    transform: translateX(50px);
}
to {
    opacity: 1;
    transform: translateX(0);
}
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
}

* {box-sizing:border-box}

.homeMain {
    /* background-color: thistle; */
    margin-top: 10vh;
    margin-bottom: 0;
    height: 90vh;
    text-align: center;
    padding-top: 20vh;
    font-family: 'Poppins', sans-serif;
}

.hook {
    font-size: 50;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.homeMain p {
    margin: 0;
}

.homeMain h6 {
    margin-top: 35vh;
    margin-left: 2.5vw;
    text-align: start;
    font-size: 1em;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

.homeMain span {
    text-transform: uppercase;
    font-family: 'Gugi', cursive;
    font-weight: 1000;
}

.sticky {
    background-color: #111111;
}

.sticky .logo img {
    display: block;
    visibility: visible;
  opacity: 1;
}

.about {
    text-align: center;
    /* background-color: thistle; */
    margin: 0;
    height: max-content;
    padding: 15px;
}

.about h1 {
    font-size: 2.5em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.about p {
    margin-left: 40px;
    margin-right: 40px;
}

.about a {
    text-decoration: none;
    color: var(--text-link);
}

.download {
    background-color: rgb(22, 22, 22);
    height: 60vh;
    text-align: center;
    padding: 10px;
}

.downloadVersion  {
    font-weight: 600;
    background: linear-gradient(210deg, var(--secondary-brand-color) 0%, var(--primary-brand-color) 100%);
    color: #fdfcff;
    -webkit-text-fill-color: #fdfcff;
    top: 0;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: medium;
    border-radius: 50rem;
}

.downloadCard,.MobileDownloadCard {
    display: flex;
    flex-direction: row;
    background-color: burlywood;
    margin: 10px;
    width: max-content;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 6px;
    background: #383d42;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.download ol li {
    display: flex;
    list-style: none;
    flex-direction: column;
    text-align: left;
    /* background-color: rosybrown; */
    justify-content: center;
}

.download ol li p {
    margin: 12px 38px;
}

.download ol {
    display: block;
    counter-increment: myCounter 0;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-left: 33.75vw;
    width: 100vw;
}

.download ol li p a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.download ol li p a:hover {
    text-decoration: underline;
}

.download ol li:before {
    content: counter(myCounter);
    counter-increment: myCounter;
    line-height: 1;
    text-align: center;
    width: 16px;
    height: 16px;
    padding: 5px;
    margin-right: 12px;
    font-weight: 700;
    position: absolute;
    display: inline-block;
    border-radius: 50rem;
    background: linear-gradient(210deg, var(--secondary-brand-color) 0%, var(--primary-brand-color) 100%);
}

.downloadCard:hover,.MobileDownloadCard:hover {
    /* background-color: linear-gradient(90deg, rgba(255,126,238,1) 0%, rgba(223,73,166,1) 100%); */
    background-color: var(--primary-brand-color);
}

.downloadCard .fab,.MobileDownloadCard .fab {
    text-align: center;
    font-size: 2.5em;
    vertical-align: center;
    margin: 5px;
}

.downloadCard span,.MobileDownloadCard span {
    color: var(--beta-color);
    font-size: 0.75em;
}

.beta {
    color: var(--beta-color);
    font-size: 90%;
    font-weight: bold;
}

.downloadCard h4,.MobileDownloadCard h4 {
    margin: 10px;
}

.downloadContainer {
    display: flex;
    align-items: center;
    /* background-color: cornflowerblue; */
    justify-content: center;
}

footer {
    height: 30vh;
    background-color: #1b1b1b;
    text-align: center;
}

.footerRow {
    display: flex;
    justify-content: space-between;
    padding-left: 4vw;
    padding-right: 4vw;
    text-align: start;
}

.footerSection {
    /* background-color: sandybrown; */
    height: 24vh;
}

footer p {
    color: rgb(136, 136, 136);
}

footer .installButton {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 55px;
    border-style: none;
    background-color: var(--primary-brand-color);
    color: white;
    transition: background-color 0.25s ease-in-out;
    font-weight: 700;
    letter-spacing: .05em;
}

footer .installButton:hover {
    background-color: var(--secondary-brand-color);
}

footer .footerSection ol li,footer .footerSection ol li p {
    list-style: none;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

footer .footerSection ol {
    padding-left: 0;
}

footer a {
    color: rgb(136, 136, 136);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.tooltip {
    display: inline;
    position: relative;
  }
  
  .tooltip:hover:after {
    background: #111;
    background: rgba(0, 0, 0, .8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
    visibility: visible;
  opacity: 1;
  }

  .tooltip:before,.tooltip::after {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
  
  .tooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0, 0, 0, .8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    visibility: visible;
  opacity: 1;
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
  }

  .page {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 100%;
  /* border: 2px dashed #f69c55; */
}
.center {
    display: table-cell;
  vertical-align: middle;
  justify-content: center;
  text-align: center;
}